
body {
 
 position: absolute;
 left: 26rem;
 right: 26rem;
 font-family: 'Segoe UI', sans-serif;
 opacity: 70;
 box-shadow: rgb(75, 74, 74);
}

.signup-container {
  background-color: rgb(255, 255, 255);
  margin: 10px;
  padding: 2rem;
  align-content: center;
  border-color: white;
  border-radius: 12px;
  position: static;
  box-shadow: 0 10px 40px rgba(0,0,0,0.08);
}

.task-icon img {
  width: 80px;
}

.task-icon {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; 
}

 h1 {
font-size: 30px;
font-weight: bold;
text-align: center;
}

.container-button {
  background-color: rgb(228, 238, 238);
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  border-radius: 8px;
  overflow: hidden;
}

.active-btn-login button{
width: 100px;
border-radius: 5px;
color:black;
border: none;
padding: 2px;
margin: 2px;
background-color: #fff;
}

.active-btn-signup {
width: 100px;
}

.signup-container p {
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 5px;
  font-size: 14px;
}

input {
 width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px; 
  font-family: 'Segoe UI', sans-serif; 
}

.inline {
 max-width: 400px;
  margin: 0 auto;
}


.action-buttons {
  display: flex; 
  justify-content: space-between;
  margin-top: 10px;
}

.btn-help button {
 background: #f0f0f0;
  color: #333;
  padding: 6px;
  border: none;
  border-radius: 10px;
}

.btn-create button {
   background: #FFC107;
  color: #fff;
  padding: 6px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(255,193,7,0.3);
}

.btn-create:hover {
  background: #e6b800;
}

footer p {
  font-size: 10px;
  text-align: left;
  margin-top: 20px;
  font-size: 12px;
  color: #666;
}

footer a {
  color: #007bff;
  text-decoration: none;
  font-size: 13px;
  text-decoration: none;
}

