
body {
 
 position: absolute;
 left: 26rem;
 right: 26rem;
 font-family: 'Segoe UI', sans-serif;
 opacity: 70;
 box-shadow: rgb(75, 74, 74);
}


.signup-container {
  background-color: rgb(255, 255, 255);
  margin: 20px;
  padding: 4rem;
  align-content: center;
  border-color: white;
  border-radius: 12px;
  position: static;
  box-shadow: 0 10px 40px rgba(0,0,0,0.08);
 

}

.task-icon img {
  width: 80px;
}

.task-icon {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; 
}

 h1 {
font-size: 30px;
font-weight: bold;
text-align: center;
}

.container-button {

background-color: rgb(228, 238, 238);
 display: flex;
  justify-content: center;
  margin-bottom: 20px;
  border-radius: 8px;
  overflow: hidden;
  background: #f0f0f0;

}

.container-button button {

  flex: 1;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-weight: 400px;
  background: #f0f0f0;
  transition: all 0.3s;

}

.active-btn-login{
width: 100px;
border-radius: 5px;
color:#F8F9FAFE;

}

.active-btn-signup {
width: 100px;

}

.signup-container p {
 
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 5px;
  font-size: 14px;
}

input {

 width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px; 
  font-family: 'Segoe UI', sans-serif; 

}

.inline {
 max-width: 400px;
  margin: 0 auto;
}


.action-buttons {
  display: flex; 
  justify-content: space-between;
  margin-top: 20px;

}
/*button {
  background:#F6BC00;
  border-radius: 7px;
  box-sizing: border-box;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  cursor: pointer;
  outline: white;
  font-weight:bold;
}
*/
.help-btn {
 background: #f0f0f0;
  color: #333;

}

.footer p {
  font-size: 10px;
  text-align: left;
  margin-top: 20px;

}
.footer a {
  color: #007bff;
  text-decoration: none;
  font-size: 10px;
}

/*.container {
  border: 0px solid green;
  margin-top: 1.4rem;
  width: 100%;
  border-radius: 1rem;
  padding-top: 3.6rem;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0.5rem 0.5rem 2rem rgb(75, 74, 74);
}

.logo {
  border: 0px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}

#img1 {
  width: 8rem;
}

.container .task {
  padding: none;
  border: 0px solid yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  font-weight: bold;
}

.container .task h2 {
  font-size: 3rem;
  margin-top: 1.2rem;
  font-family: "Nunito", sans-serif;
}

.container .task p {
  font-size: 1.5rem;
  padding-bottom: 1rem;
  /* font-style: normal; 
  opacity: 0.5;
}

.button {
  border: 0px solid green;
  padding: 4.2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
}

.fa-user {
  border: 0px solid violet;
  width: 2.5rem;
}

.toggle {
  border: 0px solid black;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  border-radius: 0.8rem;
  gap: 1rem;
  width: 90%;
  background-color: rgb(223, 221, 221);
}
.container .button .toggle button {
  width: 90%;
  padding: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  border: none;
  background-color: transparent;
}

.container button.active {
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  overflow: hidden;
  background-color: white;
  box-shadow: 0.5rem 0.5rem 2rem rgb(75, 74, 74);
}

.form {
  border: 0px solid red;
  padding-left: 2rem;
  margin-top: -1.7rem;
}

.label {
  border: 0px solid purple;
  font-size: 1.4rem;

  font-weight: 200;
}

.input {
  display: flex;
  flex-direction: column;
  border: 0px solid palevioletred;
}

input {
  width: 95%;
  padding: 0.5rem;
  font-size: 1.3rem;
  border: none;
  outline: none;
}

input::placeholder {
  font-size: 1.5rem;
}

input[type="password"]::placeholder {
  font-size: 3rem;
}

.input2,
.input3 {
  border: 0px solid goldenrod;
  margin-top: 2rem;
}

.userr {
  display: flex;
  align-items: center;

  border: 1px solid black;
  opacity: 0.2;
  width: 90%;
  padding: 0.8rem;
  /* margin-top: 1rem; 
  border-radius: 1rem;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.user1,
.user2,
.user3 {
  margin-top: 1rem;
}

#passchar {
  font-size: 1.15rem;
  margin-top: 1.35rem;
}

.container footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.container footer .blue {
  color: blue;
}*/
